<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>수정 페이지</h1>
    <form name="updateData">
      <div>
        이름
        <input name="name" value="<%= visitor[0].name %>" />
      </div>
      <div>
        방명록
        <input name="comment" value="<%= visitor[0].comment %>" />
      </div>
      <button type="submit" onclick="updateForm(`<%= visitor[0].id %>`)">
        수정
      </button>
    </form>
  </body>
  <script>
    const updateForm = (id) => {
      const form = document.forms["updateData"];
      console.log(form["name"].value, "?DDD");
      const data = {
        id: id,
        name: form["name"].value,
        comment: form["comment"].value,
      };
      axios({
        method: "put",
        url: "/visitor/update",
        data: data,
      })
        .then((res) => {
          alert("수정성공");
          window.location.href = "/visitor";
        })
        .catch((e) => {});
    };
  </script>
</html>
